<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="d-flex justify-content-center"><a class="navbar-brand " href="#">
        <img src="../Assets/images/logo.png" alt="" style="width:30%;">
        <h3 style="display:inline;">Web Wiz</h3></a>
      </div>
    
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/home"><i class="fas fa-home fa-lg"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about"><i class="fas fa-info fa-lg"></i> Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/activetourney"><i class="fas fa-cog fa-lg"></i> Active Tournaments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services"><i class="fas fa-khanda"></i> Manage Tournaments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/newtourney"><button type="button" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Create New Tournament</button> </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/competitor-list"><i class="fas fa-cog fa-lg"></i> Competitor-List</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>