<div class="row justify-content-lg-center g-3">
    <h1><%= title %> Competitor</h1>

    <form method="POST" class="col-lg-6 col-md-10 col-sm-10">

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-fullname-default">Full Name</span>
            <input id="name" type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="Competitor Full Name"
            name="fullname" value="<%= competitor.fullname %>" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-description-default">Description</span>
            <input id="description" type="text" class="form-control" placeholder="Description" aria-label="Description" aria-describedby="Competitor Description"
            name="description" value="<%= competitor.description %>" required>
        </div>

        <% if(title == "Edit") { %>
            <button id="editButton" class="btn btn-primary"><i class="fas fa-edit fa-lg"></i> Edit</button>
        <% } else { %>
            <button id="addButton" class="btn btn-primary"><i class="fas fa-plus fa-lg"></i> Add</button>
        <% } %>

        <a href="/competitor-list" id="cancelButton" type="button" class="btn btn-warning"><i class="fas fa-undo fa-lg"></i> Cancel</a>
    </form>
</div>